

:root{
    --accent-color: #2196F3;
}


p, h1, h2, h3 {
    margin: 0px;
}
ul {
margin: 0px;
padding: 0px;
}

img {
    display: block;
}


body{
    font-family: 'roboto-regular', 'roboto-bold', 'roboto-medium', 'roboto-black', 'relewey-bold', sans-serif;
    color: #212121;
}

/* --------------UNIVERSAL CLASSES------------ */


.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */
}



.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
    }


/* --------------HEADER------------ */

.header{
    background-color: #FFFFFF;
    border-bottom: #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}



.header-logo {
padding: 25px 0px;
margin-right: 90px;
display: block;


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.header-logo > span {
color: #2196F3;
}

.header-list{
    display: flex;
}
.header-list .header-nav:not(:last-child) {
    margin-right: 50px;
}


.header-link:hover,
.header-link:focus,
.header-link:active {
    color: var(--accent-color);
}


.header-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
   

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    
}







.header-info {
    margin-left: auto;
    display: flex;
}
.header-info .header-nav:not(:last-child) {
    margin-right: 40px;
}

.header-links {
    padding-top: 30px;
    padding-bottom: 30px;


font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.header-links:hover,
.header-links:focus{
    color: #2196F3
}



/* --------------CAP------------ */

.cap {
    background-color: 
    #2F303A;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    display: block;
    

    
    
}

.cap-title {
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cap-btn{
cursor: pointer;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
min-width: 200px;
}



.cap-btn > span {
    padding: 10px 25px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em; 
    color: #FFFFFF;
}

/* --------------DETAILS------------ */


.details{
    background-color: #FFFFFF;
}

.details-container {
    display: flex;
    padding-top: 95px;
    padding-bottom: 95px;
}

.details-list > p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}



.details-list {
    display: flex;
    flex-wrap: wrap;
    
}

.detail-description:not(:last-child) {
    margin-right: 30px;
}



.details-title {
    margin-bottom: 10px;
}



/* -------------WORK------------- */

.work{
    background-color: #FFFFFF
}

.work-container {
   padding-top: 0px;
   padding-bottom: 95px;
   
}

.work-title {
text-align: center;

font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.work-link {
    display: flex;
}
.work-link .work-links:not(:last-child) {
margin-right: 30px;
}



/* -------------TEAM------------- */

.team{
    background-color: #F5F4FA;
}

.team-containner {
    padding-top: 95px;
    padding-bottom: 95px;
}

.team-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;
}

.team-list {
    display: flex;
    
    
}

.team-position{
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .team-position:not(:last-child){
    margin-right: 30px;
}

.team-name {
    margin: 30px auto 10px;
}

.team-text {
margin-bottom: 30px;

font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #757575;
}


/* -------------FOOTER------------- */


.footer {
    background-color: #2F303A
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}


    
    .footer-logo {
        margin-bottom: 30px;
        display: block;


        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #FFFFFF;

    }

    .footer-logo > span {
        color: #2196F3;
        }

    .contact-link{
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    .contact-items:not(:last-child){
        margin-bottom: 10px;
    }

    .contact-address {
        color: #FFFFFF;
    }




















